<a href="https://colab.research.google.com/github/AshKatzEm/Movie_recommender/blob/main/Movie_db_tag_genres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

genomeTags = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/genome-tags.csv')  

genomeScores = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/genome-scores.csv') 

links = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/links.csv') 

movies = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/movies.csv') 

ratings = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/ratings.csv') 

tags = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/tags.csv')

In [ ]:
genomeTags

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [ ]:
genomeScores

          movieId  tagId  relevance
0               1      1    0.02900
1               1      2    0.02375
2               1      3    0.05425
3               1      4    0.06875
4               1      5    0.16000
...           ...    ...        ...
14862523   187595   1124    0.10700
14862524   187595   1125    0.05850
14862525   187595   1126    0.03800
14862526   187595   1127    0.10225
14862527   187595   1128    0.02925

[14862528 rows x 3 columns]

## Merge these two into one genomes dataset

In [ ]:
genomes = pd.merge(
    genomeScores,
    genomeTags,
    how="inner",
    on="tagId",
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)
genomes

          movieId  tagId  relevance      tag
0               1      1    0.02900      007
1               2      1    0.03625      007
2               3      1    0.04150      007
3               4      1    0.03350      007
4               5      1    0.04050      007
...           ...    ...        ...      ...
14862523   185435   1128    0.02625  zombies
14862524   185585   1128    0.03100  zombies
14862525   186587   1128    0.03925  zombies
14862526   187593   1128    0.04675  zombies
14862527   187595   1128    0.02925  zombies

[14862528 rows x 4 columns]

In [ ]:
links

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
58093   193876    38566   78251.0
58094   193878  1754787   87558.0
58095   193880  5847740  422666.0
58096   193882  4453756  454439.0
58097   193886  7606620  540871.0

[58098 rows x 3 columns]

## Merge links with genomes by movieId

In [ ]:
MovieMerge = pd.merge(
    links,
    genomes,
    how="inner",
    on="movieId",
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)
MovieMerge

          movieId   imdbId    tmdbId  tagId  relevance           tag
0               1   114709     862.0      1    0.02900           007
1               1   114709     862.0      2    0.02375  007 (series)
2               1   114709     862.0      3    0.05425  18th century
3               1   114709     862.0      4    0.06875         1920s
4               1   114709     862.0      5    0.16000         1930s
...           ...      ...       ...    ...        ...           ...
14862523   187595  3778644  348350.0   1124    0.10700       writing
14862524   187595  3778644  348350.0   1125    0.05850         wuxia
14862525   187595  3778644  348350.0   1126    0.03800          wwii
14862526   187595  3778644  348350.0   1127    0.10225        zombie
14862527   187595  3778644  348350.0   1128    0.02925       zombies

[14862528 rows x 6 columns]

In [ ]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissiÃ¨re (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

## Merge MovieMerge with movies by movieId

In [ ]:
MovieMerge = pd.merge(
    MovieMerge,
    movies,
    how="inner",
    on="movieId",
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)
MovieMerge

,movieId,imdbId,tmdbId,tagId,relevance,tag,title,genres
0,1,114709,862.0,1,0.02900,007,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,114709,862.0,2,0.02375,007 (series),Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,1,114709,862.0,3,0.05425,18th century,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,1,114709,862.0,4,0.06875,1920s,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,1,114709,862.0,5,0.16000,1930s,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...,...,...
14862523,187595,3778644,348350.0,1124,0.10700,writing,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862524,187595,3778644,348350.0,1125,0.05850,wuxia,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862525,187595,3778644,348350.0,1126,0.03800,wwii,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862526,187595,3778644,348350.0,1127,0.10225,zombie,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862527,187595,3778644,348350.0,1128,0.02925,zombies,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi

In [ ]:
MovieMerge.to_csv('/content/drive/MyDrive/Movie_recommender/Data/MovieMerge.csv', index = False)

In [ ]:
MovieMerge = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/MovieMerge.csv')