<a href="https://colab.research.google.com/github/AshKatzEm/Movie_recommender/blob/main/Splitting_up_genre_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Currently, the "genres" column combines all of the genres as string. let's see if we can split it up

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
movies = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/movies.csv') 
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

Let's try

In [10]:
movies = movies.join(movies.genres.str.split("|", expand = True))
movies

,movieId,title,genres,0,1,2,3,4,5,6,7,8,9
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,None,None,None,None,None,None,None,None
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,5,Father of the Bride Part II (1995),Comedy,Comedy,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),(no genres listed),None,None,None,None,None,None,None,None,None
58094,193878,Les tribulations d'une caissière (2011),Comedy,Comedy,None,None,None,None,None,None,None,None,None
58095,193880,Her Name Was Mumu (2016),Drama,Drama,None,None,None,None,None,None,None,None,None
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,Adventure,Drama,Horror,Sci-Fi,None,None,None,None,None,None
58097,193886,Leal (2018),Action|Crime|Drama,Action,Crime,Drama,None,None,None,None,None,None,None

ok, those column names are not working

In [11]:
movies = movies.rename(columns = {0:'genre1', 1:'genre2',2:'genre3',3:'genre4',4:'genre5',5:'genre6', 6: 'genre7',7:'genre8',8:'genre9',9:'genre10'})
movies

,movieId,title,genres,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,None,None,None,None,None,None,None,None
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,5,Father of the Bride Part II (1995),Comedy,Comedy,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),(no genres listed),None,None,None,None,None,None,None,None,None
58094,193878,Les tribulations d'une caissière (2011),Comedy,Comedy,None,None,None,None,None,None,None,None,None
58095,193880,Her Name Was Mumu (2016),Drama,Drama,None,None,None,None,None,None,None,None,None
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,Adventure,Drama,Horror,Sci-Fi,None,None,None,None,None,None
58097,193886,Leal (2018),Action|Crime|Drama,Action,Crime,Drama,None,None,None,None,None,None,None

This is actually pretty messy. Let's try one-hot encoding each genre. First, lets see how many genres we have

In [12]:
movies['genre1'].unique()

array(['Adventure', 'Comedy', 'Action', 'Drama', 'Crime', 'Children',
       'Mystery', 'Documentary', 'Animation', 'Thriller', 'Horror',
       'Fantasy', 'Western', 'Film-Noir', 'Romance', 'War', 'Sci-Fi',
       'Musical', 'IMAX', '(no genres listed)'], dtype=object)

In [13]:
movies['genre2'].unique()

array(['Animation', 'Children', 'Romance', 'Drama', None, 'Crime',
       'Adventure', 'Horror', 'Comedy', 'Sci-Fi', 'IMAX', 'War',
       'Thriller', 'Mystery', 'Film-Noir', 'Fantasy', 'Musical',
       'Documentary', 'Western'], dtype=object)

In [14]:
for i in movies['genre1'].unique():
  movies[i] = 0

movies

,movieId,title,genres,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,Horror,Fantasy,Western,Film-Noir,Romance,War,Sci-Fi,Musical,IMAX,(no genres listed)
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,None,None,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,Comedy,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),(no genres listed),None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58094,193878,Les tribulations d'une caissière (2011),Comedy,Comedy,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58095,193880,Her Name Was Mumu (2016),Drama,Drama,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,Adventure,Drama,Horror,Sci-Fi,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58097,193886,Leal (2018),Action|Crime|Drama,Action,Crime,Drama,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0

In [9]:
movies = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/movies.csv')

In [19]:
genres = movies['genre1'].unique()
for i in genres:
  movies[i] = 0

movies

,movieId,title,genres,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,Horror,Fantasy,Western,Film-Noir,Romance,War,Sci-Fi,Musical,IMAX,(no genres listed)
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,None,None,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,Comedy,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),(no genres listed),None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58094,193878,Les tribulations d'une caissière (2011),Comedy,Comedy,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58095,193880,Her Name Was Mumu (2016),Drama,Drama,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,Adventure,Drama,Horror,Sci-Fi,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58097,193886,Leal (2018),Action|Crime|Drama,Action,Crime,Drama,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0

In [20]:
for i in movies.index:#rows
  for j in genres:
    if j in movies.genres[i]:
      movies[j][i] = 1
movies

<ipython-input-20-8b43dd155c93>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies[j][i] = 1

,movieId,title,genres,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,Horror,Fantasy,Western,Film-Noir,Romance,War,Sci-Fi,Musical,IMAX,(no genres listed)
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,None,None,...,0,1,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,None,None,None,None,...,0,1,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,None,None,None,None,None,...,0,0,0,0,1,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,None,None,None,None,...,0,0,0,0,1,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,Comedy,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),(no genres listed),None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,1
58094,193878,Les tribulations d'une caissière (2011),Comedy,Comedy,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58095,193880,Her Name Was Mumu (2016),Drama,Drama,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,Adventure,Drama,Horror,Sci-Fi,None,None,None,...,1,0,0,0,0,0,1,0,0,0
58097,193886,Leal (2018),Action|Crime|Drama,Action,Crime,Drama,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0

lets clean up now

In [22]:
movies = movies.drop(labels=['genre1', 'genre2', 'genre3','genre4','genre5','genre6', 'genre7','genre8','genre9','genre10'], axis=1)

KeyError: ignored

In [23]:
movies

,movieId,title,genres,Adventure,Comedy,Action,Drama,Crime,Children,Mystery,...,Horror,Fantasy,Western,Film-Noir,Romance,War,Sci-Fi,Musical,IMAX,(no genres listed)
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
58094,193878,Les tribulations d'une caissière (2011),Comedy,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58095,193880,Her Name Was Mumu (2016),Drama,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,1,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
58097,193886,Leal (2018),Action|Crime|Drama,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
movies.to_csv('/content/drive/MyDrive/Movie_recommender/Data/moviesGenres.csv', index = False)