<a href="https://colab.research.google.com/github/AshKatzEm/Movie_recommender/blob/main/user_rating_tags_movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

MovieMerge = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/MovieMerge.csv')  


ratings = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/ratings.csv') 

tags = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/tags.csv')

In [ ]:
MovieMerge

,movieId,imdbId,tmdbId,tagId,relevance,tag,title,genres
0,1,114709,862.0,1,0.02900,007,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,114709,862.0,2,0.02375,007 (series),Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,1,114709,862.0,3,0.05425,18th century,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,1,114709,862.0,4,0.06875,1920s,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,1,114709,862.0,5,0.16000,1930s,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...,...,...
14862523,187595,3778644,348350.0,1124,0.10700,writing,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862524,187595,3778644,348350.0,1125,0.05850,wuxia,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862525,187595,3778644,348350.0,1126,0.03800,wwii,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862526,187595,3778644,348350.0,1127,0.10225,zombie,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
14862527,187595,3778644,348350.0,1128,0.02925,zombies,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi

In [ ]:
ratings

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

In [ ]:
#manual merge
# for i in ratings.index:
#   if ratings.movieId[i] == MovieMerge.movieId:
RatingsMerge = pd.merge(
    ratings,
    tags,
    how="inner",
    on=["userId", 'movieId'],
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=False,
    suffixes=("_x", "_y"),
    copy=False,
    indicator=False,
    validate=None,
)
RatingsMerge

        userId  movieId  rating  timestamp_x                 tag  timestamp_y
0           14      110     4.5   1442169623                epic   1443148538
1           14      110     4.5   1442169623            Medieval   1443148532
2           14      318     4.5   1442169454        imdb top 250   1442615195
3           14      318     4.5   1442169454             justice   1442615192
4           14      480     4.5   1442169372           Dinosaurs   1443148563
...        ...      ...     ...          ...                 ...          ...
830487  283206    73017     4.0   1264378981                 fun   1264379059
830488  283206    73017     4.0   1264378981  homoerotic subtext   1264379058
830489  283206    73017     4.0   1264378981              pacing   1264379058
830490  283206    73017     4.0   1264378981                plot   1264379058
830491  283221    49651     4.0   1168346806  Sylvester Stallone   1168346830

[830492 rows x 6 columns]

In [ ]:
RatingsMerge.to_csv('/content/drive/MyDrive/Movie_recommender/Data/RatingsMerge.csv', index = False)

In [ ]:
MovieMerge = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/MovieMerge.csv')